body {
font-family: Arial, sans-serif;
margin: 0;
background-color: #f4f4f4;
}
nav {
background-color: maroon;
padding: 15px;
text-align: center;
}
nav a {
color: white;
text-decoration: none;
margin: 0 15px;
}
nav a:hover {
color: yellow;
}
p {
text-align: center;
font-size: 18px;
}
.gallery {
text-align: center;
margin: 20px;
}
.gallery img {
margin: 10px;
border-radius: 8px;
box-shadow: 8px 6px 12px gray;
}
img {
    transition: 0.5s;
} 
img:hover {
    transform: scale(1.10)
}
